/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom class for snackbar Angular material
.mat-snack-bar-container.edit {
  color: black;
  background-color: rgb(221, 221, 0);
}
.mat-snack-bar-container.delete {
  color: whitesmoke;
  background-color: rgb(174, 13, 13);
}
